.fa-thumbs-up{
    /* margin-top: 100px; */
    cursor: pointer;
    font-size:x-large;
/* text-align: end; */
    /* align-items: flex-end; */
}

/* #post{
    font-size: larger;
    text-transform: uppercase;
    text-decoration: dotted;
     */


body{
    width: 99vw;
    height: 100vh;
    /* background-color: aqua; */
    margin: 0%;
    padding: 0%;
    display: flex;
}
#main-div {
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    /* position: relative; */
    
}

#header{
    flex: 0.1;
    /* height: auto;
    width: auto; */
    background-color: gray;
    display: flex;
     justify-content: space-between;
    align-items: center; 
     /* position: fixed;  */
     position: relative;
}

#blog-app-css{
    color: red;
    font-style: italic;
   font-size:40px;
   /* margin-left: 45%; */
position: relative;
   /* text-align: center; */
}


#logout{

    color: white;
    border-radius: 20px;
    background-color: black;
    border-color:black;
    font-weight: bold;
    
}

#login_user_name{

    color: white;
    font-style: italic;

}



#post-div{
    /* flex: 0.1; */
    height: auto;
    width: auto; 
    /* background-color: blanchedalmond; */
     /* display: flex;
    justify-content: space-between;
    align-items: center;  */
    /* position: fixed; */
}

#post-text{
text-transform: uppercase;
font-style: italic;
font-size: large;
border-color: yellow;
/* border: hidden; */

}

#upload-image{
    color: gray;
    /* cursor: pointer; */
}

#post-button{
    border-color: rgb(161, 204, 119);
font-style: italic;
font-weight: bold;
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
/* background-color: rgb(153, 255, 0); */
background-color: lightgray;
color: lightgreen;
font-size: x-large;
cursor: pointer;

}

#card-main-div{
    flex: 1.5;
    background-color: rgb(122, 182, 182);
    display: flex;
    /* display: inline; */
    /* flex-direction: ; */

}

#card-child-1{
    flex: 1;
/* height: auto; */
    background-color: rgb(167, 182, 168);
  /* display: flex; */
  display: flex;
  flex-wrap: wrap;
}
/* #card-child-2{
    flex: 1;
    background-color: rgb(237, 252, 252);
}
#card-child-3{
    flex: 1;
    background-color: cadetblue;
} */


/* mera new card */

#card{
    flex: 0.1;
    /* height: 40%; */
    /* height: auto; */
    /* width: 250px; */
    /* width: auto; */
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgb(254, 255, 250);
    border-radius: 10px;
    word-break: break-all;
    /* display: flex; */
}

#post_imge{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    
}

#title{
   font-weight: bold; 
   font-style: italic;
   font-size: large;
}

#delte_blog{
cursor: pointer;
border-radius: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-left: 100px; */
}








/* mera porane card */

/* #post-imge{
    width: 80%;
     height: 100%!important; 
}

.card{
    margin-left: 3%;
  height: 200px;   
} */
/* 
#title{
    margin-top: 10%;
    font-weight: bold;
    font-size: x-large;
    }
    
    #discribtion{
        margin-top: 10%;
        font-style: italic;
    }
    
    #delete_blog{
        text-transform: uppercase;
margin-left: 50%;
border-radius: 20px;

    }
 */

 /* subhan *

/*  
#card{
    border-radius: 4px;
    margin: 8px;
    margin-left: 40px;
    width: 20%;
    height: 50%;
    background-color: #fff;
    border: 1px solid gray;
   
} */
/* #img_div{
    height: 45%;
    width:100%;
    background-color: blueviolet;

    display: flex;
}
#img_div img{
    width: 100%;
    background-repeat: no-repeat;
} */


/*
.header h1{
text-align: center;
color: #fff;
position: relative;
top: 2px;
font-family: 'Segoe UI', Tahoma, Genev